---
import { siteData } from "../data/site";
---

<footer class="site-footer">
  <div class="container footer-inner">
    <div class="footer-links">
      {
        siteData.footer.links.map((link) => (
          <a href={link.href} class="nav-link">
            {link.label}
          </a>
        ))
      }
    </div>
    <span class="footer-copy">{siteData.footer.copyright}</span>
  </div>
</footer>
